<section>
  {{#each posts as |post|}}
    <article class="card">
      <a href="/post/{{post.id}}">
        <div class="card-header rounded-0 post-list">
            <h2>{{post.title}}</h2>
            <h3>Posted by {{post.user.username}} on {{format_date post.created_at}}</h3>
        </div>
      </a>
      <div class="card-body">
          <p>{{post.post_content}}</p>
      </div>
    </article>
  {{/each}}
</section>